<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log in</title>
</head>
<body>
    <h1>Login form</h1>

    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username" value="radhe">
        <input type="password" name="password" placeholder="password" value="radhe">
        <button type="submit">Signup</button>
    </form>
</body>
</html>